build
.idea
.gradle
.DS_Store
out/*
content/*
bin/*
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target
project/project/*
project/plugins/project/
.scala_dependencies
.worksheet
*.iml
.idea/*
.bsp/*
.idea
.DS_Store
